@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #313148;
}

@media screen and (max-width: 400px) {
  .navbar-fixed .container__title {
    font-size: 19px;
  }
}
.padre {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.principal {
  position: relative;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal .principal__img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.principal .info {
  text-align: center;
  padding: 10px;
  color: white;
}
.principal .info .info__name {
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 500;
}
.principal .info .info__dev {
  margin-left: 20px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.principal .info .links {
  margin-bottom: 30px;
}
.principal .info .links .link {
  padding: 10px;
  font-size: 40px;
  color: #1de9b6;
}
.principal .info .links .link .fa-brands:hover {
  transition: transform 0.3s ease; /* Agregar una transición para suavizar el cambio de tamaño */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el mouse */
  color: white;
}
.principal .boton-cv {
  background-color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 4px solid #4db6ac;
}
.principal .boton-cv:hover {
  transition: transform 0.3s ease; /* Agregar una transición para suavizar el cambio de tamaño */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el mouse */
  background-color: rgb(30, 168, 232);
  border-bottom: 3.5px solid rgb(2, 76, 185);
}
.principal .email {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 200;
}
.principal .email:hover {
  transition: transform 0.3s ease; /* Agregar una transición para suavizar el cambio de tamaño */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el mouse */
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.sobre-mi {
  width: 50%;
}
.sobre-mi .box {
  width: 100%;
  height: 100%;
  padding: 30px;
  color: white;
}
.sobre-mi .box .box__title {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 15px 0 25px 0;
}
.sobre-mi .box .box__parrafo {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5;
}

.tecno, .complements {
  width: 100%;
  padding: 0 10px 20px;
}
.tecno .tecno__title, .tecno .complements__title, .complements .tecno__title, .complements .complements__title {
  color: white;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 50px;
}
.tecno .lista, .tecno .otros, .complements .lista, .complements .otros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 14px;
}
.tecno .lista .lista__tipo, .tecno .lista .otros__tipo, .tecno .otros .lista__tipo, .tecno .otros .otros__tipo, .complements .lista .lista__tipo, .complements .lista .otros__tipo, .complements .otros .lista__tipo, .complements .otros .otros__tipo {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
}
.tecno .lista .lista__tipo .lista__img, .tecno .lista .lista__tipo .otros__img, .tecno .lista .otros__tipo .lista__img, .tecno .lista .otros__tipo .otros__img, .tecno .otros .lista__tipo .lista__img, .tecno .otros .lista__tipo .otros__img, .tecno .otros .otros__tipo .lista__img, .tecno .otros .otros__tipo .otros__img, .complements .lista .lista__tipo .lista__img, .complements .lista .lista__tipo .otros__img, .complements .lista .otros__tipo .lista__img, .complements .lista .otros__tipo .otros__img, .complements .otros .lista__tipo .lista__img, .complements .otros .lista__tipo .otros__img, .complements .otros .otros__tipo .lista__img, .complements .otros .otros__tipo .otros__img {
  width: 50px;
  margin-right: 10px;
}
.tecno .lista .lista__tipo .lista__img--js, .tecno .lista .otros__tipo .lista__img--js, .tecno .otros .lista__tipo .lista__img--js, .tecno .otros .otros__tipo .lista__img--js, .complements .lista .lista__tipo .lista__img--js, .complements .lista .otros__tipo .lista__img--js, .complements .otros .lista__tipo .lista__img--js, .complements .otros .otros__tipo .lista__img--js {
  width: 65px;
}
.tecno .lista .lista__tipo .lista__nombre, .tecno .lista .lista__tipo .otros__name, .tecno .lista .otros__tipo .lista__nombre, .tecno .lista .otros__tipo .otros__name, .tecno .otros .lista__tipo .lista__nombre, .tecno .otros .lista__tipo .otros__name, .tecno .otros .otros__tipo .lista__nombre, .tecno .otros .otros__tipo .otros__name, .complements .lista .lista__tipo .lista__nombre, .complements .lista .lista__tipo .otros__name, .complements .lista .otros__tipo .lista__nombre, .complements .lista .otros__tipo .otros__name, .complements .otros .lista__tipo .lista__nombre, .complements .otros .lista__tipo .otros__name, .complements .otros .otros__tipo .lista__nombre, .complements .otros .otros__tipo .otros__name {
  font-size: 20px;
  color: white;
}
.tecno .lista .tipo-js, .tecno .otros .tipo-js, .complements .lista .tipo-js, .complements .otros .tipo-js {
  padding: 2.5px;
}

@media only screen and (min-width: 780px) {
  .complements {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 780px) {
  .padre {
    padding: 0;
  }
  header {
    margin-bottom: -55px;
  }
  .principal,
  .sobre-mi {
    width: 100%;
  }
  .principal {
    height: 100vh;
    margin-top: 23%;
  }
  .sobre-mi {
    margin-top: -70px;
  }
  .tecno, .complements {
    padding: 0 20px 20px;
  }
  .tecno .lista, .tecno .otros, .complements .lista, .complements .otros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 400px;
    gap: 10px;
  }
  .tecno .lista .lista__tipo, .tecno .lista .otros__tipo, .tecno .otros .lista__tipo, .tecno .otros .otros__tipo, .complements .lista .lista__tipo, .complements .lista .otros__tipo, .complements .otros .lista__tipo, .complements .otros .otros__tipo {
    width: 50%;
  }
  .tecno .lista .lista__tipo .lista__img, .tecno .lista .lista__tipo .otros__img, .tecno .lista .otros__tipo .lista__img, .tecno .lista .otros__tipo .otros__img, .tecno .otros .lista__tipo .lista__img, .tecno .otros .lista__tipo .otros__img, .tecno .otros .otros__tipo .lista__img, .tecno .otros .otros__tipo .otros__img, .complements .lista .lista__tipo .lista__img, .complements .lista .lista__tipo .otros__img, .complements .lista .otros__tipo .lista__img, .complements .lista .otros__tipo .otros__img, .complements .otros .lista__tipo .lista__img, .complements .otros .lista__tipo .otros__img, .complements .otros .otros__tipo .lista__img, .complements .otros .otros__tipo .otros__img {
    width: 40px;
    margin-right: 10px;
  }
  .tecno .lista .lista__tipo .lista__img--js, .tecno .lista .otros__tipo .lista__img--js, .tecno .otros .lista__tipo .lista__img--js, .tecno .otros .otros__tipo .lista__img--js, .complements .lista .lista__tipo .lista__img--js, .complements .lista .otros__tipo .lista__img--js, .complements .otros .lista__tipo .lista__img--js, .complements .otros .otros__tipo .lista__img--js {
    margin-top: 2px;
    width: 52px;
  }
  .tecno .lista .lista__tipo .lista__nombre, .tecno .lista .lista__tipo .otros__name, .tecno .lista .otros__tipo .lista__nombre, .tecno .lista .otros__tipo .otros__name, .tecno .otros .lista__tipo .lista__nombre, .tecno .otros .lista__tipo .otros__name, .tecno .otros .otros__tipo .lista__nombre, .tecno .otros .otros__tipo .otros__name, .complements .lista .lista__tipo .lista__nombre, .complements .lista .lista__tipo .otros__name, .complements .lista .otros__tipo .lista__nombre, .complements .lista .otros__tipo .otros__name, .complements .otros .lista__tipo .lista__nombre, .complements .otros .lista__tipo .otros__name, .complements .otros .otros__tipo .lista__nombre, .complements .otros .otros__tipo .otros__name {
    font-size: 1rem;
  }
  .tecno .lista .lista__tipo .lista__nombre--js, .tecno .lista .otros__tipo .lista__nombre--js, .tecno .otros .lista__tipo .lista__nombre--js, .tecno .otros .otros__tipo .lista__nombre--js, .complements .lista .lista__tipo .lista__nombre--js, .complements .lista .otros__tipo .lista__nombre--js, .complements .otros .lista__tipo .lista__nombre--js, .complements .otros .otros__tipo .lista__nombre--js {
    margin-left: -5.5px;
  }
  .complements {
    margin-top: -60px;
  }
}
.proyectos__title {
  color: white;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 50px;
  margin-left: 25px;
}
.proyectos .proyect__desc {
  font-size: 20px;
}
.proyectos .container .card-title {
  color: #00695c;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 17px;
}
.proyectos .container .card__desc {
  font-size: 17px;
}

/*# sourceMappingURL=index.css.map */
