@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #1b2325;
}

.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-fixed .container__title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.navbar-fixed .container__title .code-title {
  font-size: 22px;
}
.navbar-fixed .container__title .code-logo {
  font-size: 35px;
}

.principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal .principal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal .principal__container .principal__img {
  width: 30vw;
  min-width: 350px;
}
.principal .principal__container .info {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.principal .principal__container .info .info__name {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}
.principal .principal__container .info .info__dev {
  font-size: 20px;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 2s steps(20, end), blink-caret 0.7s step-end infinite;
  overflow: hidden;
  color: #18bdec;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #18bdec;
  }
}
.principal .principal__container .info .links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0 25px;
}
.principal .principal__container .info .links .link {
  font-size: 25px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
  padding: 8px 15px;
}
.principal .principal__container .info .links .link .fa-brands:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  color: #18bdec;
}
.principal .principal__container .boton-cv {
  background-color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  border-bottom: 4px solid #2e87a4;
}
.principal .principal__container .boton-cv:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  color: white;
  background-color: rgb(50, 163, 216);
  border-bottom: 3.5px solid rgb(6, 55, 128);
}

.sobre-mi {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;
}
.sobre-mi .box {
  color: #ffffff;
}
.sobre-mi .box .box__title {
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 15px;
}
.sobre-mi .box .subrayado {
  width: 100px;
  height: 4px;
  border-color: rgb(55, 140, 251);
  border-radius: 20px;
  background-color: rgb(55, 140, 251);
  margin-bottom: 20px;
}
.sobre-mi .box .box__parrafo {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.8;
}

.tecno {
  width: 100%;
  padding: 35px;
}
.tecno .subrayado {
  width: 100px;
  height: 4px;
  border-color: rgb(55, 140, 251);
  border-radius: 20px;
  background-color: rgb(55, 140, 251);
  margin-bottom: 20px;
}
.tecno .tecno__title {
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 15px;
}
.tecno .lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 15px;
}
.tecno .lista .lista__tipo {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}
.tecno .lista .lista__tipo .lista__nombre {
  font-size: 20px;
  color: white;
}
.tecno .lista .lista__tipo .lista__img {
  width: 50px;
}

.proyectos .proyect-title-container {
  padding: 0 35px;
}
.proyectos .subrayado {
  width: 100px;
  height: 4px;
  border-color: rgb(55, 140, 251);
  border-radius: 20px;
  background-color: rgb(55, 140, 251);
  margin-bottom: 20px;
}
.proyectos__title {
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 15px;
}
.proyectos .proyect__desc {
  font-size: 20px;
}
.proyectos .container .card-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}
.proyectos .container .card__desc {
  font-size: 20px;
}

@media only screen and (max-width: 990px) {
  .navbar-fixed .container__title .code-logo {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 900px) {
  .padre {
    margin-top: -50px;
    padding: 0;
    gap: 50px;
  }
  .navbar-fixed .container__title .code-title {
    font-size: 20px;
  }
  .navbar-fixed .container__title .code-logo {
    padding-left: 20px;
    font-size: 30px;
  }
  .principal,
  .sobre-mi {
    width: 100%;
  }
  .principal {
    height: 100vh;
    min-height: 650px;
  }
  .principal .principal__container .principal__img {
    width: 60vw;
    min-width: 270px;
  }
  .sobre-mi .box .box__title {
    font-size: 30px;
  }
  .sobre-mi .box .box__parrafo {
    font-weight: 350;
    line-height: 2;
  }
  .tecno {
    padding: 0 35px;
  }
  .tecno .lista .lista__tipo {
    width: 220px;
  }
  .tecno .lista .lista__tipo .lista__img {
    width: 45px;
  }
  .tecno .lista .lista__tipo .lista__nombre {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 540px) {
  .sobre-mi,
  .tecno {
    padding: 0 20px;
  }
  .proyectos .proyect-title-container {
    padding: 0 20px;
  }
  .tecno .lista .lista__tipo {
    width: 150px;
  }
  .tecno .lista .lista__tipo .lista__img {
    width: 35px;
  }
  .tecno .lista .lista__tipo .lista__nombre {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
