@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "partials/variables";
@import "partials/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #1b2325;
}

.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// Menu Styles
.navbar-fixed {
  .container__title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    .code-title {
      font-size: 22px;
    }
    .code-logo {
      font-size: 35px;
    }
  }
}

// Presentation
.principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .principal__img {
      width: 30vw;
      min-width: 350px;
    }

    .info {
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .info__name {
        font-size: $font-size-titulos;
        font-weight: $font-weight-titulos;
        margin: 0;
        padding-bottom: 10px;
      }

      .info__dev {
        font-size: 20px;
        white-space: nowrap;
        border-right: 3px solid;
        animation: typing 2s steps(20, end), blink-caret 0.7s step-end infinite;
        overflow: hidden;
        color: #18bdec;
      }

      // Typing animation
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: #18bdec;
        }
      }

      .links {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 10px 0 25px;

        .link {
          font-size: 25px;
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          border-radius: 50%;
          padding: 8px 15px;

          .fa-brands {
            &:hover {
              @include hover;
              color: #18bdec;
            }
          }
        }
      }
    }

    .boton-cv {
      background-color: white;
      padding: 15px;
      font-size: 20px;
      border-radius: 10px;
      color: black;
      font-weight: 600;
      border-bottom: 4px solid #2e87a4;

      &:hover {
        @include hover;
        color: white;
        background-color: rgb(50, 163, 216);
        border-bottom: 3.5px solid rgb(6, 55, 128);
      }
    }
  }
}

// About me
.sobre-mi {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;

  .box {
    color: #ffffff;

    .box__title {
      @include section-title;
    }

    .subrayado {
      @include subrayado;
    }

    .box__parrafo {
      font-size: $font-size-parrafo;
      font-weight: 300;
      line-height: 1.8;
    }
  }
}

// Technolgies section
.tecno {
  width: 100%;
  padding: 35px;

  .subrayado {
    @include subrayado;
  }

  .tecno__title {
    @include section-title;
  }

  .lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 15px;

    .lista__tipo {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;

      .lista__nombre {
        font-size: 20px;
        color: white;
      }

      .lista__img {
        width: 50px;
      }
    }
  }
}

// Projects
.proyectos {
  .proyect-title-container {
    padding: 0 35px;
  }

  .subrayado {
    @include subrayado;
  }

  &__title {
    @include section-title;
  }

  .proyect__desc {
    font-size: 20px;
  }

  .container {
    .card-title {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 15px;
    }

    .card__desc {
      font-size: 20px;
    }
  }
}

// RESPONSIVE FOR TABLET
@media only screen and (max-width: 990px) {
  .navbar-fixed {
    .container__title {
      .code-logo {
        padding-left: 50px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .padre {
    margin-top: -50px;
    padding: 0;
    gap: 50px;
  }

  .navbar-fixed {
    .container__title {
      .code-title {
        font-size: 20px;
      }

      .code-logo {
        padding-left: 20px;
        font-size: 30px;
      }
    }
  }

  .principal,
  .sobre-mi {
    width: 100%;
  }

  .principal {
    height: 100vh;
    min-height: 650px;

    .principal__container {
      .principal__img {
        width: 60vw;
        min-width: 270px;
      }
    }
  }

  .sobre-mi {
    .box {
      .box__title {
        font-size: 30px;
      }

      .box__parrafo {
        font-weight: 350;
        line-height: 2;
      }
    }
  }

  .tecno {
    padding: 0 35px;

    .lista {
      .lista__tipo {
        width: 220px;

        .lista__img {
          width: 45px;
        }

        .lista__nombre {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// RESPONSIVE FOR MOBILE
@media screen and (max-width: 540px) {
  .sobre-mi,
  .tecno {
    padding: 0 20px;
  }

  .proyectos .proyect-title-container {
    padding: 0 20px;
  }

  .tecno {
    .lista .lista__tipo {
      width: 150px;

      .lista__img {
        width: 35px;
      }

      .lista__nombre {
        font-size: 1rem;
      }
    }
  }
}
